/* Adjusting cards */
#flip table,
#flip tbody {
  width: 100%;
}
#flip table {
  background-color: black;
}

#flip td {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}
#flip .full,
#flip div {
  width: 100%;
  height: 100%;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#introtd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#introImg {
  width: 100%;
}

/* Animations */
.card1.flipped {
  -webkit-transform: rotatex(-180deg);
  transform: rotateX(-180deg);
}
.card1 {
  -o-transition: 0.5s;
  transition: 0.5s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  will-change: transform;
}
.card1 .face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
}
.card1 .front {
  position: absolute;
  z-index: 1;
  background: black;
  color: white;
  cursor: pointer;
}
.card1 .back {
  -webkit-transform: rotatex(-180deg);
  -ms-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
  background: blue;
  background: white;
  color: black;
  cursor: pointer;
}

/* checks */
.introTable img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: calc(32vh - 16px);
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  cursor: default;
}
.face .correction {
  -o-object-position: center;
  object-position: center;
}

.introTable td {
  width: 32vw;
  height: calc(32vh - 17px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#introImg {
  width: 53%;
  min-width: 330px;
  height: auto;
}
.introImgdiv h2 {
  margin: 33px;
  font-size: 5vw;
  font-family: cursive;
}
@media (min-width: 768px) {
  .introImgdiv h2 {
    font-size: 42px;
  }
}

@media (max-width: 1000px) {
  .side {
    display: none !important;
  }
  #introimg {
    width: 100% !important;
  }
  .main {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 640px) and (orientation: landscape) {
  #introImg {
    width: 39%;
    min-width: 250px;
  }
}
