/* Statistics */

.statistics-section {
  background-color: gray;
  padding: 150px;
}

.statistics-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.statistics {
  margin: 8px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
}

.statistics.block .statistics-icon,
.statistics.block .statistics-content,
.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.statistics-icon img {
  height: 70px;
  width: auto;
}

.statistics-content {
  color: white;
}

.statistics-content > h5 {
  margin: 0px;
  font-size: 40px;
}
